* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  outline: none;
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
}
header {
  background: #147c7c;
  color: #fff;
  font-weight: 800;
  padding: 5px;
}
nav {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  align-items: center;
  /* letter-spacing: 1.2px; */
}
nav h2 {
  cursor: pointer;
  animation-name: vibrate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  height: 100vh;
}
.container h1,
h2 {
  font-size: 34px;
  padding-bottom: 10px;
  font-weight: 800;
  letter-spacing: 1.6px;
}
.btns {
  display: flex;
  gap: 10px;
}
.btns button {
  padding: 5px 12px;
  font-size: 18px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  letter-spacing: 1.2px;
}
.btns button:hover {
  background: #147c7c;
  border: 1px solid #147c7c;
  color: #fff;
}
.pageColor {
  /* background: linear-gradient(to left, #591576, #8d3eae); */
  background-color: red;
  width: 100%;
  height: 100%;
}
/* Media query section */
@media (max-width: 600px) {
  nav {
    letter-spacing: 0;
    align-items: center;
  }
  nav h2 {
    font-size: 24px;
  }
  nav ul li a {
    font-size: 12px;
  }
}
/* -----------------This for second page--------------------- */
/* :root {
  --colorONe: #591576;
  --colorTwo: #8d3eae;
} */
